form {
  margin: 0 auto;
  width: 30%;
  border: 1px solid lightblue;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
}

form input {
  width: 85%;
  padding: 15px 30px;
  text-align: left;
  border: 1px solid lightblue;
  border-radius: 10px;
  margin-bottom: 5px;
}

.button {
  width: 30%;
  margin: 20px 50px;

}

