.SmileCard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 15px;
  padding-bottom: 20px;
  background-color: powderblue;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}