.main {

}
.container {

  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.smileCardContainer {
  width: 25%;
}

.winnerContainer {
  width: 30%;
  margin: 0 auto;

}